:root{
    --violet-doux: #6c63ff;
    --violet-fonce: #534edd;
    --orange-vif: #ffa726;
    --gris-fonce: #666;
    --gris-tres-fonce: #333;
    --gris-tres-clair: #f8f8f8;
    --gris-claire: #eee;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: white;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 2rem 3rem;   
}
header div a{
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--violet-doux);
}
ul li{
    list-style: none;
    margin-left: 25px;
}
ul{
    display: flex;
}
ul li a {
    text-decoration: none;
    color: var(--gris-fonce);
    font-weight: 900;
    font-size: 1.25rem;
    position: relative;
    padding: 10px 0;
}
ul li a:hover{
    color: var(--violet-doux);
}
ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3.5px;
    width: 0%;
    background-color: var(--violet-fonce);
    transition: width 0.8s ease;

}
ul li a:hover::after{
    width: 100%;
}
a.active{
    color: var(--violet-doux);
}
a.active::after{
    width: 100%;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
    margin: 10rem 1rem;
    
}
.hero img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover ;
    border: 8px solid var(--violet-doux);
    
}

.hero h1{
    font-size: 4rem;
    color: var(--violet-doux);
    font-weight: 900;
    margin-bottom: 1.5rem;
}
.hero a{
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--violet-doux);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 600;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.hero a:hover{
    background-color: var(--violet-fonce);
    transform: translateY(-4px);
}
.hero p{
    font-size: 1.1rem;
    color: var(--gris-fonce);
}
body{
    background-color: var(--gris-tres-clair);
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}
.apropos{
    width: 800px;
    margin: 6rem auto;
    text-align: center;

}
.apropos h2{
    color: var(--violet-doux);
    font-size: 2.6rem;
    font-weight: 700;
    position: relative;
}
.apropos h2::after{
    content: "";
    display: block;
    width: 700;
    height: 5px;
    background-color: var(--violet-doux);
    margin: 1rem auto;
    border-radius: 2px;

}
.apropos p{
    margin-bottom: 2rem;
    color: var(--violet-fonce);
    font-size: 1.2rem;
}
.apropos{
    width: 800px;
    margin: auto;
    text-align: center;

}

.competences h2{
    color:var(--violet-doux);
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    text-align: center;


}

.competences h2::after{
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background-color: var(--violet-doux);
    margin: 2rem auto;
    border-radius: 3px;


}


